################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HM.API/bin
/HM.API/obj/Debug
/HM.DataModels/bin/Debug
/HM.DataModels/obj/Debug
/HM.WebApp/bin
/HM.WebApp/obj/Debug
/packages
/HM.WebAppMVC/obj/Debug
/HM.WebAppMVC/bin
/HM.WebAppMVC/App_Data
