
@{
    ViewBag.Title = "Index";

}

<section class="style-default-bright">
    <div class="section-header">
        <h2 class="text-primary">Danh sách hóa đơn đã thanh toán</h2>
    </div>

    <div class="section-body">
        <div class="row">

            <div class="col-lg-12">
                <div class="table-responsive">
                    <table id="paymentReport" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên khách hàng</th>
                                <th>Tên phòng</th>
                                <th>Ngày thanh toán</th>
                                <th>Tổng cộng</th>
                                <th>Thành tiền</th>
                                <th>Tạo bởi</th>

                            </tr>
                        </thead>
                    </table>
                </div><!--end .table-responsive -->
            </div><!--end .col -->
        </div>
    </div><!--end .section-body -->
</section>

<script>
    $('#paymentReport').dataTable({
        destroy: true,
        serverSide: true,
        dom: 'T<"clear">lfrtip',
        language: {
            lengthMenu: '_MENU_ entries per page',
            search: '<i class="fa fa-search"></i>',
            paginate: {
                "previous": '<i class="fa fa-angle-left"></i>',
                "next": '<i class="fa fa-angle-right"></i>'
            }
        },
        ajax: {
            url: "@Url.Action("LoadPaymentReport", "PaymentReport")",
            type: "POST"
        },
        columns: [
            { data: "Id", "orderable": false },
            { data: "CustomerName", "orderable": false },
            { data: "RoomName", "orderable": false },
            { data: "CheckOutDate", "orderable": false },
            { data: "Amount", "orderable": false },
            { data: "Total", "orderable": false },
            { data: "CreatedBy", "orderable": false }

        ]
    });
</script>