
@{
    ViewBag.Title = "Expired";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1><span class="text-xxxl text-light">Oops! <i class="fa fa-clock-o text-primary"></i></span></h1>
        <h2 class="text-light">Tài khoản của bạn đã hết hạn sử dụng, vui lòng liên hệ Administrator để được tiếp tục sử dụng</h2>
    </div><!--end .col -->
</div>