@{
    var hotelId = ViewBag.HotelId ?? 1;
    var loginedUser = ViewBag.UserId ?? 1;
}

@*<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="detail" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="formModalLabel">Thông tin Loại Phòng</h4>
                </div>
                <form class="form-horizontal" role="form">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="text" id="txtRoomTypeName" class="form-control" placeholder="Loại phòng">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="text" id="txtRoomTypeName" class="form-control" placeholder="Loại phòng">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="addRoomType();"><i class="fa fa-check"></i> Thêm</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->*@

<!-- BEGIN OFFCANVAS EDIT -->
<div id="offcanvas-edit" class="offcanvas-pane width-8">
    <div class="offcanvas-head">
        <header>Thêm loại phòng</header>
        <div class="offcanvas-tools">
            <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                <i class="md md-close"></i>
            </a>
        </div>
        <br />
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
            <a class="btn btn-primary" role="button" onclick="addRoomType();"><i class="fa fa-check"></i> Thêm</a>
            <a class="btn btn-default" role="button" data-toggle="offcanvas"><i class="fa fa-close"></i> Hủy</a>
        </div>
    </div>
    <div class="offcanvas-body">
        <form class="form" role="form">

            <div class="form-group">
                <input type="text" class="form-control" id="txtRoomTypeName">
                <label for="editTitle">Tên loại phòng</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="txtMaxCustomer">
                <label for="editTotalCargoVolume">Số khách tối đa</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="txtPricePer1h">
                <label for="editTotalCargoVolume">Giá phòng 1h</label>
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control" id="txtPricePer2h">
                <label for="editTotalCargoVolume">Giá phòng 2h</label>
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control" id="txtPricePer3h">
                <label for="editTotalCargoVolume">Giá phòng 3h</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="txtPricePerDate">
                <label for="editTotalCargoVolume">Giá phòng 1 ngày</label>
            </div>
        </form>
    </div>
</div>
<!-- END OFFCANVAS EDIT -->

<script>
    function addRoomType() {
        var name = $("#txtRoomTypeName").val();
        var price = $("#roomTypePrice").val();

        $.ajax({
            url: "@Url.Action("CreateRoomType", "RoomType")",
            data: {
                r: {
                    Id: 0,
                    Name: name,
                    MaxCustomer : 10,
                    Price: { 1 : 70, 2 : 100, 3 : 100 },
                    HotelId : @hotelId,
                    CreatedBy : @loginedUser,
                    CreatedOn : '@(DateTime.Now.ToString("yyyy-MM-dd HH:mm"))'
                }
            },
            type: "POST",
            success: function () {
                location.reload();
            },
            error: function () {
                console.log("Create Roomtype Error");
                alert("Lỗi");
            }
        });
    }
</script>