<div class="modal right fade" id="modalRoom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Danh sách phòng</h4>
            </div>

            <div class="modal-body">
                <form id="formAddRoom">
                    <br />
                    <div class="form-group">
                        <input type="text" class="form-control" id="roomName" placeholder="Tên phòng" name="roomName">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="roomRemark" placeholder="Ghi chú">
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                        <a class="btn btn-primary" role="button" id="btnAddRoom" onclick="validateFormAddRoom();">Thêm</a>
                        <a class="btn btn-default" role="button" id="btnClear" onclick="clearRoomField()">Nhập lại</a>
                    </div>
                </form>

                <div id="idToLoadroom">
                    @Html.Partial("_RoomListPartial")
                </div>

            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<script>
    $(document).ready(function () {
        $("#formAddRoom").validate({
            rules: {
                roomName: "required",
            },
            messages: {
                roomName: "Không được để trống",
            }
        });
    });

    function validateFormAddRoom() {
        if ($("#formAddRoom").valid() == true) { createRoom(); }
        else {  }
    }


</script>