@{
    var roomList = ViewBag.RoomList as IEnumerable<HM.DataModels.Room>;
}   
<br />
<div class="col-md-12">
    <div class="card">
        <div class="card-body no-padding">
        
            <ul class="list divider-full-bleed">
                @{
                    if (roomList != null && roomList.Count() > 0)
                    {
                        foreach (var item in roomList)
                        {
                            <li class="tile">
                                <a class="tile-content ink-reaction" href="#2">
                                    <div class="tile-text">@item.Name</div>
                                </a>
                                <a class="btn btn-flat ink-reaction" onclick="editRoom(@item.Id);">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-flat ink-reaction" onclick="deleteRoom(@item.Id);">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </li>
                        }
                    }
                }
            </ul>
        </div><!--end .card-body -->
    </div><!--end .card -->
</div><!--end .col -->
