<!--BEGIN FROM QUICK INFO ROOM-->
<div class="modal fade" id="ModalRoomInfo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalLabel">Thông tin phòng [ <label id="lbRoomName">Phòng</label> ]</h4>
            </div>
            <form class="form-horizontal" role="form">
                <div class="modal-body">
                    <ul class="list">
                        <li class="tile">
                            <a class="tile-content ink-reaction">
                                <div class="tile-icon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                                <div class="tile-text">
                                    <label id="lbCustomerName">Trống</label>
                                    <small>
                                        <label id="lbCustomerInfo">Trống</label>
                                    </small>
                                </div>
                            </a>
                        </li>
                        <li class="divider-full-bleed"></li>
                        <li class="tile">
                            <a class="tile-content ink-reaction">
                                <div class="tile-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="tile-text">
                                    Vào ngày [<label id="lbCheckInDate">Trống</label>]
                                </div>
                            </a>
                        </li>
                        <li class="divider-full-bleed"></li>
                        <li class="tile">
                            <a class="tile-content ink-reaction">
                                <div class="tile-icon">
                                    <i class="md md-add-circle-outline"></i>
                                </div>
                                <div class="tile-text">

                                    Dịch vụ thêm
                                    <small></small>
                                </div>
                            </a>
                            <a class="btn btn-flat ink-reaction">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="modal-footer">
                    Tiền phòng đến nay: 200.000đ
                    <button type="button" class="btn btn-default" onclick="clearControl();" data-dismiss="modal">Thoát</button>

                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--END FORM QUICK INFO ROOM-->
