<div class="modal right fade" id="modalAddCustomerType" tabindex="-1" role="dialog" aria-labelledby="modalCustomerTypeLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalCustomerTypeLabel">Thêm Loại Khách Hàng</h4>
            </div>

            <div class="modal-body">

                <form class="form" role="form" id="formAddCustomerType">

                    <div class="form-group">
                        <input type="text" class="form-control" id="txtCustomerTypeName" name="txtCustomerTypeName">
                        <label for="txtCustomerTypeName">Tên loại khách</label>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="txtCustomerTypeCoefficient" name="txtCustomerTypeCoefficient">
                        <label for="txtCustomerTypeCoefficient">Hệ số</label>
                    </div>


                    <br />
                    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                        <a class="btn btn-primary" role="button" onclick="validateForm();" id="btnAddCustomerType">Thêm</a>
                        <a class="btn btn-default" role="button" onclick="clearControl();" id="btnClear">Nhập lại</a>
                    </div>
                </form>

            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<script>
    $(document).ready(function () {
        $("#formAddCustomerType").validate({
            rules: {
                txtCustomerTypeName: "required",
                txtCustomerTypeCoefficient: {
                    required: true,
                    number: true
                }
            },
            messages: {
                txtCustomerTypeName: "Không được để trống",
                 txtCustomerTypeCoefficient: {
                    required: "Không được để trống",
                    number: "Hệ số không được có chữ"
                }
            }

        });


    });

    function validateForm() {

        if ($("#formAddCustomerType").valid() == true) { addCustomerType(); }
        else { }
    }
</script>